// Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import '../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import '../node_modules/bootstrap/scss/_utilities.scss';
@import '../node_modules/bootstrap/scss/_variables.scss';
@import '../node_modules/bootstrap/scss/_transitions.scss';
@import '../node_modules/bootstrap/scss/_tooltip.scss';
@import '../node_modules/aos/dist/aos.css';
@import '../node_modules/bootstrap/scss/_modal.scss';

//Global

$accent: #F6D446;
$accent-alt: #FFE268;
$primary: #9B51E0;
$primary-alt: #7F3DBD;
$carbon: #321F4A;
$secondary-carbon: #5A328E;
$positive: #27CD56;
$white: #FFF;
$grey: #E0E0E0;

html {
  scroll-behavior: smooth;
}


body {
    background-color: $white;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0;
    font-size: 100%;
}

.logo {
  transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
  &:hover {
    opacity: .7;
  }
}

a {
  text-decoration: none !important;
}

.mob {
  display: none;
}


//icons

@font-face {
  font-family: 'dadosedireitos';
  src:  url('../icons/dadosedireitos.eot?dw25qy');
  src:  url('../icons/dadosedireitos.eot?dw25qy#iefix') format('embedded-opentype'),
    url('../icons/dadosedireitos.ttf?dw25qy') format('truetype'),
    url('../icons/dadosedireitos.woff?dw25qy') format('woff'),
    url('../icons/dadosedireitos.svg?dw25qy#dadosedireitos') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dadosedireitos' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-up:before {
  content: "\e917";
}
.icon-chevron-right:before {
  content: "\e918";
}
.icon-chevron-left:before {
  content: "\e919";
}
.icon-chevron-down:before {
  content: "\e91a";
}
.icon-arrow-diagonal-up:before {
  content: "\e91b";
}
.icon-arrow-diagonal-down:before {
  content: "\e91c";
}
.icon-zoomOut:before {
  content: "\e900";
}
.icon-zoomIn:before {
  content: "\e901";
}
.icon-video:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e903";
}
.icon-linkedin:before {
  content: "\e904";
}
.icon-light:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-guia:before {
  content: "\e907";
}
.icon-grid:before {
  content: "\e908";
}
.icon-glossario:before {
  content: "\e909";
}
.icon-facebook:before {
  content: "\e90a";
}
.icon-dark:before {
  content: "\e90b";
}
.icon-coffee:before {
  content: "\e90c";
}
.icon-close:before {
  content: "\e90d";
}
.icon-clip:before {
  content: "\e90e";
}
.icon-article:before {
  content: "\e90f";
}
.icon-arrow-Up:before {
  content: "\e910";
}
.icon-arrow-right:before {
  content: "\e911";
}
.icon-arrow-left:before {
  content: "\e912";
}
.icon-arrow-bottom:before {
  content: "\e913";
}
.icon-anexo:before {
  content: "\e914";
}
.icon-alert:before {
  content: "\e915";
}
.icon-plus:before {
  content: "\e916";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-radio-checked2:before {
  content: "\ea55";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}


//Animations

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
//Type

.heading {

    font-size: 3.5rem;

    &.lg {
        font-weight: 700;
        line-height: 4.5rem;
    }

    &.md {
        font-weight: 600;
    }

    &.sm {
        font-weight: 400;
    }

}

.body {

    font-size: 1rem;

    &.lg {
        font-weight: 700;
    }

    &.md {
        font-weight: 600;
    }

    &.sm {
        font-weight: 400;
    }

    & .primary-link {
      font-size: inherit !important;
    }

}

.content-marker {
  margin: 48px 0;
  display: block;
  & .heading {
    color: $carbon;
    display: inline;
    border-bottom: 8px solid $accent;
  }
}

  // Actions

  .btn {

      font-weight: 600;
      border: 2px solid transparent;
      border-radius: 8px;
      transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
      background-color: transparent;

      &:hover {
        box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.08);
      }

      & .icon {
        vertical-align: middle;
        font-size: 1.3rem;
        position: relative;
        top: -2px;

        &.left {
          margin-left: 8px;
        }

        &.right {
          margin-right: 8px;
        }
      }

      &.lg {
        padding: 16px 22px;
        font-size: 1.3rem;
    }

      &.md {
          padding: 12px 16px;
          font-size: 1rem;
      }

      &.btn-primary {
        background-color: $accent;
        color: $carbon;

        &:hover {
          background-color: $accent-alt;
          color: $carbon;
        }
      }

      &.btn-secondary {
        background-color: $primary;
        color: white;

        &:hover {
          background-color: $primary-alt;
          color: $white;
        }
      }

      &.btn-outline {
        color: $white;
        border: 2px solid $white;

        &.framed {
          cursor: default;
          background-color: $white;
          color: $carbon;
          border: 2px solid $white;
          box-shadow: 0px 0 8px $white;
        }

        &:hover {
          background-color: $white;
          color: $carbon;
        }
      }

      &.btn-outline-dark {
        color: $primary;
        border: 2px solid $primary;

        &.framed {
          cursor: default;
          background-color: $primary;
          color: $white;
          border: 2px solid $primary;
          box-shadow: 0px 0 8px $primary;
        }

        &:hover {
          background-color: $primary;
          color: $white;
        }
      }

      &.btn-outline-carbon {
        color: $carbon;
        border: 2px solid $carbon;

        &.framed {
          cursor: default;
          background-color: $carbon;
          color: $white;
          border: 2px solid $carbon;
          box-shadow: 0px 0 8px $carbon;
        }

        &:hover {
          background-color: $carbon;
          color: $white;
        }
      }
  }

  .primary-link {
    font-weight: 600;
    font-size: 1.5rem;
    color: $primary;
    transition: all .3s ease-in-out;

    &:hover {
      color: $primary-alt;
    }
  }

  .more-info-arrow {
    font-weight: 600;
    color: inherit;
    transition: all .3s ease-in-out;

    & .icon {
      color: $primary;
      font-size: 1.5rem;
      vertical-align: baseline;
    }

    &:hover {
      color: $primary;
    }
  }

  .arrow-info-block {
    background: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    border: 4px solid $primary;
    padding: 24px;
    padding-top: 80px;
    margin: 0 0 32px;

    & .icon {
      font-size: 4rem;
      margin-bottom: 16px;
      color: $primary;
    }

    & .body {
      margin: 0 !important;
    }
  }

  .more-info-trigger {
    font-weight: 600;
    color: $primary;
    transition: all .3s ease-in-out;
    border: 0;
    background-color: transparent;

    &:hover {
      color: $primary-alt;
    }
  }

  .neutral-link {
    font-weight: 600;
    font-size: 1.5rem;
    color: $white;
    transition: all .3s ease-in-out;

    &:hover {
      color: rgba(255,255,255,.5);
    }
  }

  .social-link {
    font-size: 2.5rem;
    color: $white;
    transition: all .3s ease-in-out;

    &:hover {
      color: rgba(255,255,255,.5);
    }

    &.tint {
      color: $primary;

      &:hover {
        color: $primary-alt;
      }
    }

  }

  .tag-btn {
    padding: 0;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 24px;
    border: 0;
    border-bottom: 2px dashed $carbon;
    border-radius: 0;
    background-color: transparent;
    color: $carbon;
    transition: all .3s ease-in-out;

    &:hover, &:focus {
      outline: 0;
      background-color: $primary;
      border-color: $primary;
      color: $white;
    }
  }
  

  .neutral-content {
    margin-bottom: 80px;
    display: block;
    & .body {
      color: $carbon;
       font-size: 1.2rem;
       line-height: 2.5rem;
       margin: 24px 0;
    }
  }


  // Structure

  .neutral-header {
      z-index: 2;
      position: absolute;
      width: 100%;
      padding: 40px 40px 0;

      & .main-logo {
        width: 320px;
      }

      & .action-holder {
          display: flex;
          justify-items: flex-end;
         & a {
            margin-left: 16px;
         }
      }
  }

  .attached-header {
    top: 0;
    position: fixed;
    z-index: 9;
    background-color: $white;
    width: 100%;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);

    &.hidden {
      display: none;
    }

    & .action-holder {
      display: flex;
      justify-items: flex-end;

      & a {
        margin-left: 16px;
     }
    }

    & .main-logo {
        max-width: 208px;
      }
    }

    .attached-bottom {
      position: fixed;
      z-index: 9;
      background-color: $accent;
      width: 100%;
      padding: 8px 16px;
      bottom: 0;

      &.hidden {
        display: none;
      }

    }

  .hero-detail {
    width: 100%;
    position: relative;
    display: block;

    & .detail-image {
      max-width: 100%;
      position: relative;
      top: -40px;
    }
  }


  .main-hero {
      min-height: 100vh;
      background: rgba(155, 81, 224, .8);
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: flex-end;
      text-align: left;

      & .module-trigger {
        position: absolute;
        bottom: 48px;
        right: 48px;
      }

      & .hero-content {
          color: $white;
          padding: 40px;
          max-width: 940px;
          
          & .heading, .body {
              margin: 24px 0;
          }

          & .action-holder {
           padding: 16px 0;
           margin-bottom: 94px;
           & a {
            margin-right: 16px;
           }
         }
      }
  }

  .cookiealert {
    background-color: $white;
    color: $carbon;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    padding: 16px 24px;
    box-shadow: 0px -8px 10px rgba(0, 0, 0, 0.08);

    &.show {
      opacity: 1;
      visibility: visible;
      transform: translateY(0%);
      transition-delay: 1000ms;
  }

    & .primary-link {
      font-size: inherit;
    }

    &.hidden {
      display: none;
    }

    & p { 
      margin: 0;
    }

    & .icon {
      font-size: 4rem;
      color: $grey;
    }
  }

  .main-hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../img/hero-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.main-content {
  background: $white;
  color: $carbon;
  border-radius: 8px;
  padding: 0 32px;
  background-color: $white;
  position: relative;

  &.guide-container {
    padding: 0;
    background-color: $white;
    max-width: 96%;
    margin: 0 auto;

    & .start-heading {
      text-align: left;
      font-size: 2.5rem;
      margin: 80px 0 !important;
    }

    & .module-content {
      box-shadow: none;
    }
  }

  & .module-content {
    background-color: $white;
    border-radius: 16px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.16);
  }

  & .body {
    margin: 32px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
  }
}

.section-image {
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &.retained {
    max-height: 600px;
  }
  & img {
    top: auto;
    width: 100%;
    max-width: 440px;
  }
}

.module-trigger {
  background-color: $white;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 24px;
  border-radius: 8px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    transform: translateY(-20px);

    & .icon-arrow-right {
      color: $primary;
      right: 0;
   }

   & .icon-arrow-left {
    color: $primary;
    left: 0;
  }

  }

  & .icon-arrow-right, & .icon-arrow-left {
     color: $carbon;
  }

  & .icon-holder {
    position: absolute;
    left: -40px;
  }

  & .icon-holder.inverted {
    position: absolute;
    left: auto;
    right: -40px;
  }

  & .module-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    width: 100%;

    & .module-num {
       color: $primary;
       font-weight: 600;
    }

    & .module-title {
      color: $carbon;
      font-weight: 600;
   }
  }

  &.neutral {
    background-color: $carbon;
    &:hover {
      background-color: $primary;
    }
    & .module-title {
      color: $white;
      font-weight: 600;
   }
    & .icon {
      color: $white;
      font-size: 4rem;
    }
  }
}

.brand-coop {
  background: url(../img/bg-track-01.svg) no-repeat;
  background-position: bottom;
  background-size: 90%;
  min-height: 960px;
}

.footer-coop {
  background-color: $white;
  margin: 24px 0;
  padding: 24px 0 0;
  width: 100%;
  color: $carbon;
  display: flex;

    & .brand-holder {

      display: flex;
      align-items: center;

      & span {
        margin: 0 24px;
        font-weight: 600;
        font-size: 1rem;
      }

      & .brand-block {
        display: flex;
        align-items: center;

        & img {
          width: auto;
          max-height: 80px;
          margin: 0 40px;
        }
      }
    }
  }

.brand-coop-holder {
  background-color: $white;
  position: relative;
  top: 160px;
  margin: 0 auto;
  padding: 24px 40px;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.08);
  border-radius: 32px;

  & .brands-holder {
    padding: 16px 0;
    justify-content: space-around;
    align-items: center;
    display: flex;

    & .icon {
      font-size: 2rem;
      color: $grey;
    }
  }

  & .coop-content {
    margin-top: 24px;
    color: $carbon;

    & h4 {
      font-size: 20px;
      line-height: 40px;
      font-weight: 600;
      margin-bottom: 32px;
    }

    & p {
      font-size: 16px;
      line-height: 32px;
    }

  }

  & .action-holder {
    display: flex;
    flex-direction: row;
    margin: 16px 0;

    & a:first-child {
      margin-right: 16px;
    }
  }
}

.start-heading {
  font-weight: 600;
  font-size: 2rem;
  line-height: 48px;
  color: $carbon;
  text-align: center;
  margin: 32px 0;
}


.nav-holder {
  margin: 32px auto;
  display: flex;
  justify-content: space-around;
  max-width: 900px;
  
  & .module-trigger {
    width: 100%;
    margin: 0 32px;

    & .module-content {
      width: 100%;
    }
  }
}

.divider-tab {
  width: 60px;
}

.pre-footer {
  background-color: $secondary-carbon;
  display: flex;
  height: 240px;
  align-items: stretch;


  & .main-icon {
    overflow: hidden;
    display: flex;
    align-items: center;

    & img {
      width: 350px;
      position: relative;
      left: -56px;
    }
  }

  & .pre-content {
    color: $white;
    display: flex;
    align-items: center;

    & .content-holder {
      max-width: 600px;
    }

    & h4 {
      font-size: 2rem;
      font-weight: 600;
    }
  }

  & .action-holder {
     display: flex;
     align-items: center;
     justify-content: flex-end;
     flex-grow: 2;
     padding: 0 24px;

     & .btn {
       margin: 0 8px;
     }
  }
}

footer {
  background: $carbon url(../img/footer-bg.svg) no-repeat;
  background-position: right;
  background-size: 40%;
  color: $white;
  padding: 40px 0;

  & .brand-holder {
    padding: 24px 0;

    & img {
      width: 100%;
      max-width: 300px;
    }
  }

  & .tagline {
    padding: 24px 0;
    max-width: 340px;
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
  padding: 56px 0;

  & a {
    margin: 16px 0;
  }
}

.social-nav {
  display: flex;
  & a {
    display: block;
    width: 100%;
    max-width: 320px;
    text-align: center;
  }

  & a:first-child {
    margin-left: 0;
  }

  & p {
    color: rgba(255,255,255,.5);
    max-width: 160px;
    font-size: 1rem;
    margin-left: 24px;
  }

}

.signature-block {
  & span {
    font-size: 0.875rem;
    color: $white;
  }

  & .neutral-link {
    font-size: 0.875rem;
    margin: 0 24px;
  }

  & .bright-logo {
    float: right;
    transition: all .3s ease-in-out;

    &:hover {
      opacity: .7;
    }
  }
}

.modal-backdrop {
  background-color: rgba(255, 255, 255, 1);
}


.modal-dialog {
  max-width: 100%;
  height: 100%;
  margin: 0;
  pointer-events: auto;

  & nav {
    display: flex;
    flex-direction: column;
    margin: 24px 0;

    & .primary-link {
      margin: 16px 0;
    }

    &.social-nav {
      flex-direction: row;
    }
  }


  & .modal-header {
    border: 0;

    & .modal-title {
      font-size: 2rem;
      color: $white;
      font-weight: 600;
    }

    & .btn {
      margin-right: 16px;
    }
  }

  & .glossary-content {
      max-width: 700px;
      padding: 24px;
      color: $white;
      font-size: 1rem;
      text-align: left;
      margin: 80px auto;
      background-color: $carbon;
      border-radius: 16px;
      position: relative;

      & .glossary-text {
        font-size: 1.2rem;
        line-height: 2rem;
        opacity: .8;
      }

      & .glossary-bold {
        font-size: 1.2rem;
        line-height: 2rem;
        font-weight: 600;
        opacity: .8;
      }
  
      & .popover-header {
        margin-bottom: 8px;
        font-size: 1.25rem;
        font-weight: 600;
      }
  
      & .popover-body {
        font-size: 1rem;
        opacity: .7;
      }
  
      &:after {
        z-index: -1;
        content: '';
        position: absolute;
        top: -15px;
        left: -15px;
        right: -15px;
        bottom: -15px;
        border: 4px dashed $primary;
        border-radius: 16px;
      }
  
      & .arrow {
        display: none;
      }
  }

  & .modal-content {
    height: auto;
    min-height: 100%;
    background: $white url(../img/modal-bg.svg) no-repeat;
    background-position-y: 150%;
    background-size: 100%;

    & .content-holder {
      & .body {
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: $carbon;
        max-width: 800px;

        & .primary-link {
          word-wrap: break-word;
        }
      }
    }

    &.custom-bg {
      background-image: none !important;
    }
  }

  & .modules-list {
    display: flex;
    max-width: 800px;
    margin: 24px auto;
    flex-wrap: wrap;

    & .module-trigger {
      flex-grow: 2;
      margin: 16px 24px;
      max-width: 350px;
      
      &.intro-trigger {
        margin: 0 auto;
        min-height: 140px;
      }
    }

  }

  & .title-holder {
    max-width: 800px;
    margin: 64px auto;
    text-align: center;
    color: $carbon;

    & p {
      max-width: 320px;
      margin: 16px auto;
      opacity: .6;
    }
  }
}


// FORMS

.form-holder {
  max-width: 500px;
  margin: 24px auto;

  & .btn {
    margin: 24px 0;
    width: 100%;
  }
}

.form-group {
  display: flex;
  flex-direction: column;

  & label {
    font-size: 1.5rem;
    color: $carbon;
    font-weight: 600;
    margin-bottom: 8px;
  }

  & .form-control {
    background-color: #f2f2f2;
    font-size: 1.5rem;
    color: $carbon;
    border: 0;
    outline: 0;
    padding: 12px;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);

    &::placeholder {
      color: rgba(50, 31, 74, 0.6);
    }

    &:focus {
      background-color: $white;
      border: 2px solid $primary;
    }
  }
}

.divider {
  height: 1px;
  background-color: $grey;
  width: 100%;
}

.social-span {
  font-size: 1.5rem;
  color: $carbon;
  margin: 24px auto 0;
  text-align: center;
}

.social-share-holder {
  padding: 56px 0;
  max-width: 500px;
  margin: 24px auto;

  & .share-btn {
    margin: 0 24px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.08);
    width: 48px;
    height: 48px;
    border-radius: 80px;
    transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
      box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.18);
    }
  }
}

.spreaded {
  padding-bottom: 320px;
}

.modal-img {
  width: 100%;
  max-width: 520px;
}

.modal-backdrop {
  z-index: 18;
}

#menuModal {
  z-index: 19;
}

.full-guide {
  background-color: $primary;
  & .neutral-header {
    background-color: $primary;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 24px;
  }
}

.main-cover {
  position: relative;
  background-color: $white;
  overflow: hidden;
  min-height: 100%;
    & img {
      width: 100%;
    }
}

.pro-cover {
  background-color: $secondary-carbon;
  text-align: center;
  color: $white;
  padding: 80px;

  & .cover-icon {
    width: 180px;
  }

  & h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    max-width: 800px;
    margin: 24px auto;
  }

  & p {
    font-size: 1.125rem;
    line-height: 2rem;
    max-width: 800px;
    margin: 24px auto;
  }
}


.module-title-block {
  display: flex;
  align-items: center;
  padding: 40px 0;

  & .module-icon {
    margin-right: 32px;
    & img {
      width: 140px;
    }
  }

  & span {
    font-size: 1.5rem;
    color: $primary;
    font-weight: 600;
  }

  & h3 {
    font-size: 3rem;
    color: $carbon;
    font-weight: 700;
  }
}

//Glossario - Box Roxo

.quote-group {
  padding: 24px;
  width: 100%;
  border-radius: 8px;
  margin: 24px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  background-color: $primary;
  color: $white;

  & .body {
    margin: 0 !important;
    font-size: 1.5rem;
  }
}

//Anchor Group - Box Branco

.anchor-group {
  padding: 24px;
  width: 100%;
  border-radius: 8px;
  margin: 24px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  background-color: $white;
  color: $carbon;

  & .icon {
    color: $primary;
  }

  & .body {
    margin: 0 !important;
    font-size: 1.5rem;
  }
}

.colab-list {
  color: $carbon;
  margin-bottom: 32px;

  & h4 {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 1.5rem;
  }

  & p {
    margin-bottom: 8px;
    font-size: 1.2rem;
  }
}

.page-hero {
  height: 500px;
  display: flex;
  align-items: flex-end;
  padding: 0 40px;
  background-color: rgba(155, 81, 224, .7);

  &.reduced {
    max-height: 320px;
  }

  & .module-title-block {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  
    & span {
      color: $white;
      opacity: .6;
    }
  
    & h3 {
      color: $white;
    }
  }
}

.page-hero::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: url(../img/module01bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.neutral-hero {
  height: 500px;
  display: flex;
  align-items: flex-end;
  padding: 0 40px;
  background-color: rgba(155, 81, 224, .7);
  max-height: 320px;

  & .module-title-block {
    width: 100%;
    margin: 0 auto;
  
    & span {
      color: $white;
      opacity: .6;
    }
  
    & h3 {
      color: $white;
    }
  }
}

.politics {

  & h2 {
    margin-bottom: 16px;
  }
  & .row {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.quem-somos::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: url(../img/quem-somos.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.acessible::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: url(../img/acessible.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.glossario-bg::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: url(../img/glossario.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.module-main-content {
  background-color: $white;

  & .module-content {
    max-width: 1000px;
    margin: 0 auto;
    background-color: $white;
    border-radius: 16px;
    color: $carbon;

    & .featured-heading {
      font-size: 1.8rem;
      color: $primary;
      font-weight: 600;
      line-height: 2.5rem;
      margin: 32px 0;
    }

    & .neutral-heading {
      font-weight: 600;
    }

    & .body {
      margin: 32px 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 40px;;
    }
  }
}

.mod-featured-hd {
  font-size: 2rem;
  line-height: 3rem;
  color: $primary;
}


.bg-detail-01 {
  margin: 40px 0;
  width: 100%;
  background: url(../img/bg-detail-01.svg) no-repeat;
  background-position: center;
  background-size: 90%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-card {
  padding: 40px 24px;
  border-radius: 8px;
  margin: 0 auto;
  background-color: $white;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  max-width: 700px;

  & .heading {
    color: $primary;
    font-size: 1.8rem;
    line-height: 3.5rem;
    margin-bottom: 24px;
  }

  & p {
    font-size: 1rem;
    color: $carbon;
  }
}

.alert-block {
  padding: 32px;
  border: 3px dashed $primary;
  font-size: 1.25rem;
  color: $carbon;
  border-radius: 8px;
  display: flex;
  align-items: center;
  background-color: $white;
  margin: 32px 0;
  box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.08);

  & strong {
    font-size: 1.5rem;
  }

  & .content-holder {
    margin-left: 32px;
  }
  & .icon {
    font-size: 5rem;
    color: $primary;
  }
}

.centered-logo {
  text-align: center;
  width: 100%;
  display: block;
  & img {
    width: 100%;
    max-width: 56px;
    margin: 0 auto;
  }
}

.bullet-accordion-block {
  padding: 32px;
  border-radius: 8px;
  background-color: $white;
  width: 100%;
  display: block;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);

  & .bullet-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &[aria-expanded="true"] {
      & .icon-chevron-down:before {
        content: "\e917" !important;
      }
    }

    & .icon {
      color: $primary;
      font-size: 1.5rem;
    }
  
    & .neutral-heading {
      color: $carbon;
      font-size: 1.5rem;
      margin: 0;
    }
  }

  & .card .featured-heading {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: $secondary-carbon;
  }
}

.bulleted-card {
  background-color: $white;
  padding: 24px;
  max-width: 1000px;
  box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.08);
  margin: 24px auto;
  border-radius: 8px;

  & .content-block {
    display: flex;
    align-items: center;
  }

  & .heading {
    font-size: 2rem;
    margin-left: 24px;
  }

  & .featured-heading {
    font-size: 1.2rem !important;
  }

  & .number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    width: 60px;
    min-width: 60px;
    margin-right: 16px;
    height: 60px;
    background-color: $primary;
    color: $white;
    border-radius: 80px;
    font-size: 2rem;
    margin: 24px 0;
  }
}

.year-block {

  position: relative;
  margin: 24px 0;

  & .year-block-line {
    border-left: 2px dashed $primary;
    height: auto;
    position: absolute;
    left: 7px;
    top: 56px;
    bottom: -40px;
  }

  & .year-heading {
    display: flex;
    align-items: center;

    & .round-detail {
      background-color: $primary;
      width: 16px;
      height: 16px;
      border-radius: 80px;
      margin-right: 16px;
    }
    & h3 {
      font-size: 2rem;
      color: $carbon;
      font-weight: 600;
    }
  }

  & .icon-holder {
    width: 48px;
    height: 48px;
    border-radius: 300px;
    color: $white;
    background-color: $primary;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.08);
    margin-bottom: 24px;
  }
  
  & .law-block {
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.08);
    background-color: $white;
    margin-left: 32px;
    margin-top: 32px;

    & .body {
      margin: 0;
    }
    
    & .law-content {
      font-size: 1rem;
      line-height: 1.5rem;
      color: $secondary-carbon;
      padding: 16px 0;
    }

    & .primary-link {
      display: block;
      margin: 16px 0 0;
    }
  }
}

.spread {
  padding: 64px 0;
}

.law-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 32px 0;
}

.glossario-item {
  padding: 24px;
  border: 4px dashed $primary;
  background-color: $white;
  box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.08);
  color: $carbon;
  border-radius: 8px;
  margin: 24px 0;

  & .heading {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 24px;
  }

  & .body {
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 0;

    & .blocked {
      font-weight: 600;
      display: block;
    }
  }
}

.featured-banner {
  padding: 24px;
  font-size: 1.25rem;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  margin: 24px 0;

  & p {
    margin: 0;
  }

  &.primary {
    background-color: $primary;
    color: $white;
    & a {
      color: $white;
    }
  }

  &.feat {
    background-color: $accent;
    color: $carbon;
    & a {
      color: $carbon;
    }
  }

  & a {
    font-size: 2rem;
    font-weight: 600;

    &:hover {
      opacity: .6;
      color: inherit;
    }
  }
}

.bullet-line {
  display: flex;
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: $carbon;

  & span {
    font-size: 1.5rem;
    margin-right: 8px;
    vertical-align: middle;
    color: $accent;
  }
}

.bullet-line-section {
  margin: 32px 0;
}

.bullet-line-section .neutral-heading {
  margin-bottom: 24px;
}

// MEDIA QUERIES



// Large devices (desktops, 992px and up)
@media (max-width: 1200px) {
  body {
      font-size: 120%;
  }
}


// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 

  .bulleted-card {
  
    & .content-block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-items: center;

      & .heading {
        margin-left: 0;
      }
    }
  }

  .desktop, .extra-nav {
    display: none;
  }

  .mob {
    display: initial;
  }

    .heading {

    font-size: 2rem;

    &.lg {
        font-weight: 700;
        line-height: 2.5rem;
    }

    &.md {
        font-weight: 600;
    }

    &.sm {
        font-weight: 400;
    }

}

.main-hero {
  height: 100vh;
  min-height: 100%;

  & .hero-content {
    position: relative;
  }
  & .module-trigger {
    display: none;
  }

  & .action-holder {
    display: flex;
    flex-direction: column;
    text-align: center;

    & a:first-child {
      margin-bottom: 16px;
    }
  }
}

.neutral-header {

  padding: 8px;

  & .mob-logo {
    max-width: 80px;
  }

  & .extra-nav {
    display: none;
  }
}

.mob-logo {
  width: 60px;
}

.module-trigger .icon-holder {
  position: relative;
  left: auto;

  &.inverted {
    position: relative;
    right: auto;
  }
}

.hero-detail .detail-image {
  top: -20px;
}

.main-content {
  padding: 0 8px;
  & .module-content {
    padding: 16px;
  }
}

.nav-holder {
  flex-direction: column;
  padding: 16px;

  & .module-trigger {
    width: auto;
    margin: 16px 24px;
  }
}

.body {
    font-size: 1rem;

    &.lg {
        font-weight: 700;
    }

    &.md {
        font-weight: 600;
    }

    &.sm {
        font-weight: 400;
    }

}

.brand-coop {
  width: auto;

  & .brand-coop-holder {
    top: auto;

    & .brands-holder {
      width: 100%;
      flex-direction: column;

      & img, & span {
        margin: 16px 0;
      }
    }
  }
}

.centered-logo {
  text-align: left;
  width: 100%;
  display: block;
  & img {
    width: 100%;
    max-width: 56px;
    margin: 0 auto;
  }
}

footer {
  background-image: none;
  color: $white;
  padding: 40px 0;

  & .brand-holder {
    padding: 24px 0;

    & img {
      width: 100%;
      max-width: 400px;
    }
  }

  & .tagline {
    padding: 24px 0;
    max-width: 340px;
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.footer-nav {
  padding: 32px 0;

  & a {
    font-size: 1.5rem;
    margin: 16px 0;
  }
}


.social-nav {
  display: flex;
  margin: 32px 0;

  & p {
    color: rgba(255,255,255,.5);
    max-width: 160px;
    font-size: 1rem;
    margin-left: 24px;
  }

}

.signature-block {
  & span {
    padding: 0;
    margin: 32px 0;
    font-size: 1rem;
    color: rgba(255,255,255,.5);
  }

  & .neutral-link {
    font-size: 1rem;
    display: block;
    margin: 24px 0;
  }

  & .bright-logo {
    float: left;
    margin-top: 32px;
  }
}

.pre-footer {
  background-color: $secondary-carbon;
  display: block;
  height: auto;
  padding: 24px;
  width: 100%;
  text-align: center;


  & .main-icon {
    overflow: hidden;
    display: block;
    align-items: center;
    margin: 16px auto;

    & img {
      width: 100%;
      max-width: 200px;
      position: relative;
      left: auto;
    }
  }

  & .pre-content {
    color: $white;
    display: flex;
    align-items: center;

    & .content-holder {
      max-width: 600px;
    }

    & h4 {
      font-size: 2rem;
      font-weight: 600;
    }
  }

  & .action-holder {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-end;
     flex-grow: 2;
     padding: 0 24px;

     & .btn {
       margin: 8px 0;
       width: 100%;
     }
  }
}


.footer-coop {
  background-color: $white;
  margin: 24px 0;
  padding: 0;
  width: 100%;
  color: $carbon;
  display: flex;
  flex-direction: column;
  text-align: left;

    & .brand-holder {

      display: block;
      text-align: left;
      margin: 16px 0;

      & span {
        margin: 8px 0 24px;
        font-weight: 600;
        font-size: 1rem;
        display: block;

        & br {
          display: none;
        }
      }

      & .brand-block {
        display: block;
        align-items: center;
        margin: 24px 0;

        & img {
          width: auto;
          max-height: 80px;
          margin: 0;
          margin-right: 24px;
        }
      }
    }
  }

  .page-hero {
    height: auto;
    padding-top: 80px;
  }

  .module-title-block {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    padding: 40px 0;
  
    & .module-icon {
      margin-right: 0;
      & img {
        width: 140px;
      }
    }
  
    & span {
      font-size: 1.5rem;
      color: $primary;
      font-weight: 600;
      margin-bottom: 24px;
    }
  
    & h3 {
      font-size: 2rem;
      color: $carbon;
      font-weight: 700;
    }
  }


 }


